# Satisfacción de Clientes de Starbucks

### **Presentación del problema específico**

A pesar de ser una de las marcas de café más reconocidas a nivel mundial, Starbucks también enfrenta desafíos en la satisfacción del cliente. Algunos de los problemas más comunes incluyen demoras en el servicio y problemas con la calidad de los productos, su personalización y los precios elevados. Además de tener problemas con la experiencia en tienda y con la tecnología que afecten la satisfacción del cliente.

Para abordar estos problemas y mejorar la satisfacción del cliente, Starbucks debe estar comprometido con la mejora continua de su servicio y productos, así como con la escucha activa y la respuesta a las necesidades y preocupaciones de sus clientes.
> ##### **Fuentes: https://acortar.link/hLD1Ij**


### **Preguntas y objetivos de la investigación**

**Objetivos general**

puede ser utilizado para comparar la satisfacción del cliente de Starbucks con la de sus competidores y para identificar tendencias y patrones en la satisfacción del cliente a lo largo del tiempo.

**Objetivos particulares**

* Identificar tendencias en la satisfacción del cliente a lo largo del tiempo e identificar patrones en las percepciones y comportamientos de los clientes.

* Determinar la satisfacción de los clientes con la calidad de los productos de Starbucks, incluyendo su sabor, frescura y presentación.

### **Preguntas de investigación** 

* ¿Cuáles son las percepciones de los clientes sobre la calidad de los productos de Starbucks?

* ¿Qué aspectos del ambiente en tienda son más valorados por los clientes?

* ¿Ha habido un cambio en la satisfacción del cliente a lo largo del tiempo y, si es así, qué factores pueden haber influido en este cambio?

### **Equipo de trabajo**

  - Matías Herrera

### **Fuente del dataset** 

Este dataset fue sumuinistrado por Starbucks para simular a sus clientes y transacciones con el fin de ver si existen mejores enfoques para enviar promociones específicas a los clientes siendo publicada en el sitio Kaggle:
*https://acortar.link/2htDp6*

### **Exploración de Datos**

**Hay dos tipos de características de entrada:**
* Objetivo: información fáctica;
* Descriptivo: información de descripción

| Parametro | Tipo de dato | Variable      | Tipo Valor |
|---------|--------------|---------------|------------|
| Slug | Descriptivo | id | text |
| Symbol | Descriptivo | symbol | text |
| Name | Descriptivo | name | text |
| Date | Objetivo | date | text |
| Ranknow | Objetivo | ranknow | float |
| Open Price | Objetivo | open_price | float |
| High Price | Objetivo | high_price | float |
| Low Price | Objetivo | low_price | float |
| Close Price | Objetivo | close_price | float |
| Volume | Objetivo | volume | float |
| Market | Objetivo | market | int |
| Close Ratio | Objetivo | close_ratio | float |
| Spread | Objetivo | spread | float |

In [1]:
# Importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as Rectangle

# Setear para que los gráficos se muestren dentro del mismo notebook:
%matplotlib inline

# Mostrar los números con 2 decimales
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
# Importar el dataset por medio de un repositorio de Github

df = pd.read_csv('/home/codespace/.ipython/profile_default/Coderhouse1/data/Satisfacción de Clientes de Starbucks.csv')

In [3]:
df

,Unnamed: 0,gender,age,id,became_member_on,income
0,0,NaN,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN
1,1,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,"112,000.00"
2,2,NaN,118,38fe809add3b4fcf9315a9694bb96ff5,20180712,NaN
3,3,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,"100,000.00"
4,4,NaN,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN
...,...,...,...,...,...,...
16995,16995,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,20180604,"54,000.00"
16996,16996,M,61,2cb4f97358b841b9a9773a7aa05a9d77,20180713,"72,000.00"
16997,16997,M,49,01d26f638c274aa0b965d24cefe3183f,20170126,"73,000.00"
16998,16998,F,83,9dc1421481194dcd9400aec7c9ae6366,20160307,"50,000.00"
16999,16999,F,62,e4052622e5ba45a8b96b59aba68cf068,20170722,"82,000.00"

### Datos Duplicados y Nulos

In [5]:
# Realizar el drop() de la columan "Unnamed: 0" ya que en este caso no aporta ningun dato valioso al análisis a realizar.

df.drop(labels = "Unnamed: 0", axis = 1, inplace = True)

In [6]:
# Determinar la cantidad de datos nulos (correspondientes a la última fila)
cont_nulos = 0
for column in df.columns:
  cont_nulos += df[column].isna().sum()

print('Hay en total una cantidad de {0} datos nulos en el dataset'.format(cont_nulos))

Hay en total una cantidad de 4350 datos nulos en el dataset

In [7]:
# Determinar la cantidad de datos duplicados
cant_duplicados = df.duplicated().sum()
if(cant_duplicados):
  print('La cantidad de datos duplicados en el dataset es {0}.'.format(cant_duplicados))
else:
  print('El dataset no cuenta con datos duplicados.')

El dataset no cuenta con datos duplicados.

In [8]:
print("Tras haber eliminado los datos duplicados, el dataset cuenta con {0} entradas.".format(df.shape[0]))

Tras haber eliminado los datos duplicados, el dataset cuenta con 17000 entradas.